.top-bar{
    background-color: #1C295B;
    border: solid 1px;
    box-shadow: 2px slategrey;
}

img{
    height: 80px;
    width: 80px;
}

label{
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
     
}

div{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
