label{
    color: #1C295B; 
    display: inline-block;
    font-size: 20px;
}
button{
    background-color: #1C295B;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 4px;
}

button:hover{
    background-color: lightgrey;
    color: black; 
    cursor: pointer;
}

input{
    color: #1C295B; 
}

a{
    text-decoration: none;
    color: #1C295B; 
}