div{
    text-align:center;
}
h2{
    color: #6da85b; 
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
button{
    background-color: #6da85b;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
label{
    color: #6da85b; 
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: inline-block;
}