<div class="container">
<br><br><br><br>
<div class="row">
    <div class="classLabelCenter">
        <label><b>PLEASE FILL THE FORM</b></label>
    </div>
</div>
<br>
<div class="row">
    <div class="classLabelRight">
        <label><b>Name:</b></label>
    </div> 
    <div class="col-lg-6">
        <input [(ngModel)]="name" placeholder="">
    </div>  
</div>

<div class="row">
    <div class="classLabelRight">
        <label><b>Mail:</b></label>
    </div> 
    <div class="col-lg-6">
        <input [(ngModel)]="alias" placeholder="">
    </div>  
</div>

<div class="row">
    <div class="classLabelRight">
        <label><b>Password:</b></label>
    </div> 
    <div class="col-lg-6">
        <input type="password" [(ngModel)]="password" (keyup.enter)="onEnter()" placeholder="">
    </div>  
</div> 
<br>
<div class="row">
    <div class="classLabelCenter">
        <button (click)="submitInfo()"><b>Submit</b></button>
    </div>
</div>

</div>
